<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjectStudentClass</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckStudentServlet</display-name>
    <servlet-name>CheckStudentServlet</servlet-name>
    <servlet-class>com.project.servlet.CheckStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckStudentServlet</servlet-name>
    <url-pattern>/CheckStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.project.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDao</display-name>
    <servlet-name>StudentDao</servlet-name>
    <servlet-class>com.project.dao.StudentDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDao</servlet-name>
    <url-pattern>/StudentDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassDao</display-name>
    <servlet-name>ClassDao</servlet-name>
    <servlet-class>com.project.dao.ClassDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassDao</servlet-name>
    <url-pattern>/ClassDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCheckServlet</display-name>
    <servlet-name>AdminCheckServlet</servlet-name>
    <servlet-class>com.project.servlet.AdminCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCheckServlet</servlet-name>
    <url-pattern>/AdminCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacherServlet</display-name>
    <servlet-name>AddTeacherServlet</servlet-name>
    <servlet-class>com.project.servlet.AddTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherServlet</servlet-name>
    <url-pattern>/AddTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddStudentServlet</display-name>
    <servlet-name>AdminAddStudentServlet</servlet-name>
    <servlet-class>com.project.servlet.AdminAddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddStudentServlet</servlet-name>
    <url-pattern>/AdminAddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherDao</display-name>
    <servlet-name>TeacherDao</servlet-name>
    <servlet-class>com.project.dao.TeacherDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherDao</servlet-name>
    <url-pattern>/TeacherDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckTeacherServlet</display-name>
    <servlet-name>CheckTeacherServlet</servlet-name>
    <servlet-class>com.project.servlet.CheckTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckTeacherServlet</servlet-name>
    <url-pattern>/CheckTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddClassesServlet</display-name>
    <servlet-name>AddClassesServlet</servlet-name>
    <servlet-class>com.project.servlet.AddClassesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClassesServlet</servlet-name>
    <url-pattern>/AddClassesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddTeacherServlet</display-name>
    <servlet-name>AdminAddTeacherServlet</servlet-name>
    <servlet-class>com.project.servlet.AdminAddTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddTeacherServlet</servlet-name>
    <url-pattern>/AdminAddTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdminServlet</display-name>
    <servlet-name>AddAdminServlet</servlet-name>
    <servlet-class>com.project.servlet.AddAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdminServlet</servlet-name>
    <url-pattern>/AddAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentServlet</display-name>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>com.project.servlet.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTeacherServlet</display-name>
    <servlet-name>UpdateTeacherServlet</servlet-name>
    <servlet-class>com.project.servlet.UpdateTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeacherServlet</servlet-name>
    <url-pattern>/UpdateTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateStudentServlet</display-name>
    <servlet-name>AdminUpdateStudentServlet</servlet-name>
    <servlet-class>com.project.servlet.AdminUpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateStudentServlet</servlet-name>
    <url-pattern>/AdminUpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateTeacherServlet</display-name>
    <servlet-name>AdminUpdateTeacherServlet</servlet-name>
    <servlet-class>com.project.servlet.AdminUpdateTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateTeacherServlet</servlet-name>
    <url-pattern>/AdminUpdateTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminServlet</display-name>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <servlet-class>com.project.servlet.UpdateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <url-pattern>/UpdateAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExistStudentServlet</display-name>
    <servlet-name>ExistStudentServlet</servlet-name>
    <servlet-class>com.project.servlet.ExistStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExistStudentServlet</servlet-name>
    <url-pattern>/ExistStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExistTeacherServlet</display-name>
    <servlet-name>ExistTeacherServlet</servlet-name>
    <servlet-class>com.project.servlet.ExistTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExistTeacherServlet</servlet-name>
    <url-pattern>/ExistTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExistAdminServlet</display-name>
    <servlet-name>ExistAdminServlet</servlet-name>
    <servlet-class>com.project.servlet.ExistAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExistAdminServlet</servlet-name>
    <url-pattern>/ExistAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExistClassServlet</display-name>
    <servlet-name>ExistClassServlet</servlet-name>
    <servlet-class>com.project.servlet.ExistClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExistClassServlet</servlet-name>
    <url-pattern>/ExistClassServlet</url-pattern>
  </servlet-mapping>
</web-app>